{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="s-content content">
        <main class="row content__page">
            <article class="column large-full entry format-standard">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-center" style="font-size: 3.4rem;">Blog Post</legend>
                        {{ form|safe }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn--primary match-width" type="submit">Post</button>
                    </div>
                </form>
            </article>
        </main>
    </div>
{% endblock content %}
