{% extends "blog/base.html" %}
{% block content %}
    <div class="s-content content">
        <main class="row content__page">
            <article class="column large-full entry format-standard">

                <div class="content__page-header entry__header">
                    <h1 class="display-1 entry__title">
                        {{ object.title }}
                    </h1>
                    <ul class="entry__header-meta">
                        <a class="author"
                           href="{% url 'user-posts' object.author.username %}">By: {{ object.author|capfirst }}
                        </a>
                        <span class="date">{{ object.date_posted|date:"F d, Y" }}</span>
                    </ul>
                </div> <!-- end entry__header -->

                <div class="entry__content">

                    {% if object.author == user %}
                        <div>
                            <a class="btn btn--stroke match-width"
                               href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn--stroke match-width"
                               href="{% url 'post-delete' object.id %}">Delete</a>
                        </div>
                    {% endif %}

                    <p class="">{{ object.content }}</p>

                </div>

            </article> <!-- end article -->
        </main>
    </div>
{% endblock content %}
